body {
  font-family: 'Roboto', sans-serif !important;
}

#surpriseDiv {
  width: 40%;
  height: auto;
  background-color:white;
  font-size:50px;
  font-weight: bold;
  letter-spacing: 12px;
  line-height: 30px;
  position: absolute;
  top:13%;
  left:27%;
}

#hamburgerBtn {
  height: 8px;
  width: 8%;
  background: #000;
  display: block;
  position: absolute;
  top: 12%;
  right: 15%;
  transform: rotate(90deg);
  color:white;
  font-size:small;
  text-align:right;
  z-index: 100;
  outline: none;
}

#bunTopper {
  height: 8px;
  width: 8%;
  background: #000;
  display: block;
  position: absolute;
  top: 12%;
  right: 13%;
  transform: rotate(90deg);
  color:white;
  font-size:xx-small;
  text-align:right;
}

#nameLines {
  font-size:90px;
  font-weight:bold;
  margin:0;
  padding:0;
  line-height: 55px;
  transform: rotate(270deg);
  position: absolute;
  left:-5%;
  bottom:25%;
}

#whatItDo {
  font-size:90px;
  font-weight:bold;
  margin:0;
  padding:0;
  line-height: 55px;
  transform: rotate(90deg);
  position: relative;
  top:250px;
  left:-200px;
}

.navTron {
  margin-left:10%;
  width: 80%;
  background-color:white;
  border-color:black;
  position:absolute;
  top: 5%;
}

.navBtns {
  background-color:white;
  border-color:white;
  text-align:right;
  font-weight:900;
  font-size:40px;
  margin-top:5px;
  margin-bottom:5px;
  padding-right:10%;
  letter-spacing:10px;
}

.navUL {
  list-style: none;
  margin: 0;
  padding: 0;
}

span {
  position: relative;
  display: block;
  cursor: pointer;
}

span:before, span:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

span:before {
  left: -2.5px;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}
span:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

span:hover:before {
  background: white;
  width: 60%;
}

span:hover:after {
  background: black;
  width: 60%;
  margin-bottom:20px;
  height:20px;
  transition: 0s;
}

#schoolProjects {
  position:absolute;
  top:50%;
}

#schoolProjText {
  font-size: 45px;
  letter-spacing: 12px;
  margin-bottom:160px;
}

.gamesImg {
  width:120px;
  height:auto;
}

.overlay {
  position: absolute;
  top: -60%;
  bottom: 0;
  left: -30%;
  right: 0;
  height: 300px;
  width: 120px;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.text {
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
}

#vanGoghLink {
  position: absolute;
  top:27%;
  left:11%;
  transform: rotate(170deg);
  width:120px;
}

#arrow1 {
  position: absolute;
  top:48%;
  left:51%;
  width:30px;
  height:auto;
  transform: rotate(33deg);
}

#vanGoghLink:hover .overlay {
  opacity: 1;
  transform: rotate(-170deg);
}

#crystalLink {
  position: absolute;
  top:49%;
  left:64%;
  transform: rotate(210deg);
  width:120px;
}

#arrow2 {
  position: absolute;
  top:68%;
  left:112%;
  width:30px;
  height:auto;
  transform: rotate(-27deg);
}

#crystalLink:hover .overlay {
  opacity: 1;
  transform: rotate(-210deg);
}

#rpgLink {
  position: absolute;
  top:24%;
  left:122%;
  transform: rotate(-62deg);
  width:120px;
}

#arrow3 {
  position: absolute;
  top:63%;
  left:163%;
  width:30px;
  height:auto;
  transform: rotate(43deg);
}

#rpgLink:hover .overlay {
  opacity: 1;
  transform: rotate(62deg);
}

#triviaLink {
  position: absolute;
  top:69%;
  left:177%;
  transform: rotate(180deg);
  width:120px;
}

#arrow4 {
  position: absolute;
  top:59%;
  left:191%;
  width:30px;
  height:auto;
  transform: rotate(62deg);
}

#triviaLink:hover .overlay {
  opacity: 1;
  transform: rotate(-180deg);
}