body {
  font-family: 'Roboto', sans-serif !important;
}

a {
  color:white;
}

a:hover {
  color:darkgray;
}

/*load screen*/
#surpriseDiv {
  width: 40%;
  height: auto;
  background-color:white;
  font-size:50px;
  font-weight: bold;
  letter-spacing: 12px;
  line-height: 30px;
  position: absolute;
  top:13%;
  left:27%;
  z-index:101;
}

/*nav stuff*/
#hamburgerBtn {
  height: 8px;
  width: 8%;
  background: #000;
  display: block;
  position: absolute;
  top: 12%;
  right: 15%;
  transform: rotate(90deg);
  color:white;
  font-size:small;
  text-align:right;
  z-index: 100;
  outline: none;
}

#bunTopper {
  height: 8px;
  width: 8%;
  background: #000;
  display: block;
  position: absolute;
  top: 12%;
  right: 13%;
  transform: rotate(90deg);
  color:white;
  font-size:xx-small;
  text-align:right;
}

#nameLines {
  font-size:90px;
  font-weight:bold;
  margin:0;
  padding:0;
  line-height: 55px;
  transform: rotate(270deg);
  position: absolute;
  left:-5%;
  bottom:25%;
}

#whatItDo {
  font-size:90px;
  font-weight:bold;
  margin:0;
  padding:0;
  line-height: 55px;
  transform: rotate(90deg);
  position: relative;
  top:250px;
  left:-200px;
}

.navTron {
  margin-left:10%;
  width: 80%;
  background-color:white;
  border-color:black;
  position:absolute;
  top: 5%;
}

.navBtns {
  background-color:white;
  border-color:white;
  text-align:right;
  font-weight:900;
  font-size:40px;
  margin-top:5px;
  margin-bottom:5px;
  padding-right:10%;
  letter-spacing:10px;
}

.navUL {
  list-style: none;
  margin: 0;
  padding: 0;
}

.navSpan {
  position: relative;
  display: block;
  cursor: pointer;
}

.navSpan:before, .navSpan:after {
  content: '';
  position: absolute;
  width: 0%;
  height: 1px;
  top: 50%;
  margin-top: -0.5px;
  background: #fff;
}

.navSpan:before {
  left: -2.5px;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navSpan:after {
  right: 2.5px;
  background: #fff;
  transition: width 0.8s cubic-bezier(0.22, 0.61, 0.36, 1);
}

.navSpan:hover:before {
  background: white;
  width: 60%;
}

.navSpan:hover:after {
  background: black;
  width: 60%;
  margin-bottom:20px;
  height:20px;
  transition: 0s;
}

/*games and apps*/
#schoolProjects {
  position:absolute;
  top:50%;
  width:100%;
}

#schoolProjText {
  font-size: 50px;
  letter-spacing: 35px;
  padding-bottom:70px;
  font-weight: bold;
}

.gamesOverlay {
  position: absolute;
  top: -200%;
  bottom: 0;
  left: -30%;
  right: 0;
  height: 300px;
  width: 150px;
  opacity: 0;
  transition: .5s ease;
  background-color: black;
}

.text {
  font-family: 'Raleway', sans-serif;
  color: white;
  font-size: 20px;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  text-align: center;
  padding:3px;
  width:96%;
}

.gamesImg {
  width: 50px;
  height:auto;
}

.gamesArrowImg {
  width: 40px;
  height:auto;
}

#gameImgRow {
  margin-left:5%;
}

#vanGoghLink:hover .gamesOverlay {
  opacity: 1;
  transform: rotate(360deg);
}

#crystalLink:hover .gamesOverlay {
  opacity: 1;
  transform: rotate(-360deg);
}

#rpgLink:hover .gamesOverlay {
  opacity: 1;
  transform: rotate(360deg);
}

#triviaLink:hover .gamesOverlay {
  opacity: 1;
  transform: rotate(-360deg);
}

/* About page */
.aboutRow {
  width:80%;
  position:fixed;
  top:0;
  bottom:0;
  left:0;
  transform:rotate(-22deg);
}

.aboutBanners {
  background:black;
  color:white;
}

.aboutBtwnBanners {
  background:white;
}

.aboutTextBanners {
  text-orientation: sideways;
  word-wrap: break-word;
  text-align:justify;
  position:absolute;
  top:25%;
  font-size:16px;
  font-weight:bold;
}

.aboutIcons {
  width:70%;
  height:auto;
  position:absolute;
  top:35%;
}
.aboutOverlay {
  opacity: 0;
  transition: .5s ease;
  background-color: black;
  height: 40px;
  width: 700%;
  color:white;
  z-index:100;
  font-size:35px;
  font-weight: bold;
  letter-spacing: 10px;
}

#linkedOverlay {
  position: absolute;
  top:108%;
}

#linkedCol:hover #linkedOverlay {
  opacity: 1;
  transform: rotate(382deg);
}

#emailOverlay {
  position:absolute;
  top:102%;
  right: -65%;
}

#emailCol:hover #emailOverlay {
  opacity: 1;
  transform: rotate(382deg);
}

#gitOverlay {
  position:absolute;
  top:108%;
  left: 400%;
}

#gitCol:hover #gitOverlay {
  opacity: 1;
  transform: rotate(382deg);
}

#cultureOverlay {
  position:absolute;
  top:102%;
  left: 150%;
}

#cultureCol:hover #cultureOverlay {
  opacity: 1;
  transform: rotate(382deg);
}

#pageOverlay {
  position:absolute;
  top:92%;
  right:-200px;
}

#aboutCol:hover #pageOverlay {
  opacity: 1;
  transform: rotate(382deg);
}

/*culture fit*/
#arrows {
  width:100%;
  height:100%
}

.cultureBlock {
  width: 60%;
  height:auto;
  position:absolute;
  top:10%;
  left:10%;
  color:black;
  background-color: white;
  font-family: 'Raleway', sans-serif;
  font-size: 20px;
}

.cultureHeading {
  font-family: 'Roboto', sans-serif !important;
  font-size:25px;
  font-weight: bold;
  letter-spacing: 12px;
  margin-bottom:15px;
}

.nextArrow {
  width:60px;
  height:auto;
  position:absolute;
  top:90%;
  left:90%;
}

.cultureBodyIcons {
  width:120px;
  height:auto;
  position:absolute;
  top:20%;
  left:118%;
}

#hiddenPets {
  width:80%;
  z-index:100;
}

.hiddenPetsImg {
  width:100%;
  height:auto;
}

.hiddenPetsClass {
  position:absolute;
  top:0;
  width:100%;
  height:auto;
}

#favoriteBands {
  font-size:35px;
  font-weight:bold;
  letter-spacing: 5px;
  position:absolute;
  top:40px;
  left:10%;
  z-index:200;
}

#secretPoemDiv {
  font-size:20px;
  font-weight:bold;
  letter-spacing: 8px;
  line-height: 5px;
  position:absolute;
  top:70px;
  left:10%;
}

#closeBook {
  width:120px;
  height:auto;
  position:absolute;
  top:42%;
  left:105%;
}